# Compiled binary
*.vscode
.idea

# Docker volumes
./neo4j/*
backend/neo4j/*
frontend/app/*
neo4j/*

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
